<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

ErrorDocument 401 /404-page.php
ErrorDocument 403 /404-page.php
ErrorDocument 404 /404-page.php
ErrorDocument 500 /404-page.php
</IfModule>